# ==========================
# Compiled Executables
# ==========================
*.exe
*.out
*.app

# ==========================
# Object Files
# ==========================
*.o
*.obj

# ==========================
# Static/Dynamic Libraries
# ==========================
*.a
*.lib
*.dll
*.so
*.dylib

# ==========================
# Debug Files
# ==========================
*.pdb
*.ilk

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Visual Studio
# ==========================
.vs/

# ==========================
# Code::Blocks
# ==========================
*.layout
*.depend

# ==========================
# CLion
# ==========================
cmake-build-*/

# ==========================
# CMake
# ==========================
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp

# ==========================
# Operating System Files
# ==========================
Thumbs.db
Desktop.ini
.DS_Store